.destinations {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}
.des-hero {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;

  h2 {
    display: inline-block;
    width: 505px;
    border-width: 0.2px;
    font-family: Gilda Display;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0%;
  }
}

.des-search {
  text-align: end;
  display: inline-block;
  height: 120px;
  .des-choices {
    text-align: end;
    width: 446px;
    font-family: Urbanist;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    margin-bottom: 43px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
.search-bar {
  width: 470px;
  top: 89px;
  left: 730px;
  justify-content: space-between;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-width: 1px;
  border-radius: 100px;
  display: inline-block;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
}
.search-box {
  display: inline-block;
  width: 460px;
  gap: 12px;
  border: none;
  background-color: transparent;

  .location {
    width: 28px;
    opacity: 100%;
  }
  .search-input {
    display: inline-block;
    width: 363px;
    background-color: transparent;
    border: none;
    font-family: Urbanist;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }
  .dot {
    margin: 4px;
    height: 48px;
    width: 48px;
    background-color: #ee8f39;
    border-radius: 50%;
    display: inline-block;
    .search-icon {
      height: 30px;
      width: 30px;
      margin: 9px;
    }
  }
}
.list-of-destination {
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 64px;
  max-width: 1200px;
}
.destination-card {
  width: 370.66px;
  height: 404px;
  margin: 0 12px;
  margin-bottom: 36px;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  box-shadow: 105.45px 50.41px 78.04px 0px #3736640d;
}
.place-image {
  margin: 15px;
  width: 338.6666564941406px;
  height: 248px;
}
.card-content {
  width: 338.6666564941406px;
  margin: 0 auto;

  .card-title {
    width: 330.6666564941406px;
    font-family: Urbanist;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }
  .card-description {
    width: 298.6666564941406px;
    font-family: Urbanist;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
  }
  .card-location {
    width: 24px;
    margin-right: 7px;
  }
}
@media only screen and (max-width:500px){
  .destinations{
    max-width: 375px;

  }
  .des-hero{
    width: 335px;
    display: block;
    margin-top: 20px;
    h2{
      width: 325px;
      font-size: 40px;
      line-height: 52px;
      margin: 46px 0 10px 0;
    }
  }
  .des-search{
    text-align:start;
    .des-choices{
      text-align: start;
      width:335px ;
      font-size: 16px;
      font-weight: 400px;
      line-height: 24px;
      margin: 12px 0;
    }
  }
  .search-bar{
    width: 335px;
    height: 56px;
    padding: 0;
  }
  .search-box{
    width: 320px;
        height: 56px;
    
    .search-input{
      width: 212px;
      font-size: 16px;
    }
    .location{
margin: 8px;
    }
    .dot{
      height: 44px;
      width: 44px;
      .search-icon{
        margin: 15px;
                height: 15px;
                width: 15px;
      }
    }
  }
  .list-of-destination{
    margin: 0 24px;
    margin-top: 64px;
    max-width: 375px;
  }
  .destination-card:nth-child(2){
    display: none;
  }
  .destination-card:nth-child(3){
    display: none;
  }
  .destination-card:nth-child(4){
    display: none;
  }
  .destination-card:nth-child(5){
    display: none;
  }
  .destination-card:nth-child(6){
    display: none;
  }
 
  .destination-card:nth-child(1) {
    width: 335px;
    margin: 0;
  }
  .place-image:nth-child(1){
    width: 311px;
height: 262px;
margin: 12px;
  }
  .card-content{
    width: 311px;
    .card-title{
      font-size: 20px;
    }
    .card-description{
      font-size: 16px;
    }
  }
  
}
