.destinations {
  display: block;
  max-width: 1440px;
  max-height: 1270px;
  margin: 100px 160px;
  gap: 60px;
  background-color: #ffffff;
}
.des-hero {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
  height: 162px;
}
h2 {
  display: inline-block;
  width: 505px;
  height: 168px;
  border-width: 0.2px;
  font-family: Gilda Display;
  font-weight: 400;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0%;
}
.des-search {
  text-align: end;
  display: inline-block;
  width: 500px;
  height: 120px;
  .des-choices {
    text-align: end;
    width: 446px;
    height: 32px;
    font-family: Urbanist;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    margin-bottom: 43px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
.search-bar {
  width: 470px;
  height: 66px;
  top: 89px;
  left: 730px;
  justify-content: space-between;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-width: 1px;
  border-radius: 100px;
  display: inline-block;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
}
.search-box {
  display: inline-block;
  width: 460px;
  height: 66px;
  gap: 12px;
  border: none;
  background-color: transparent;

  .location {
    width: 28px;
    height: 28px;
    opacity: 50%;
  }
  .search-input {
    display: inline-block;
    width: 363px;
    height: 32px;
    background-color: transparent;
    border: none;
    font-family: Urbanist;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }
  .dot {
    margin: 4px;
    height: 48px;
    width: 48px;
    background-color: #ee8f39;
    border-radius: 50%;
    display: inline-block;
    .search-icon {
      height: 30px;
      width: 30px;
      margin: 9px;
    }
  }
}
.list-of-destination {
  margin: 0 auto;

  justify-content: space-between;
  margin-top: 64px;
  width: 1200px;
  height: 848px;
}
.destination-card {
  width: 370.66px;
  height: 404px;
  margin: 0 12px;
  margin-bottom: 36px;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;

  box-shadow: -55.45px 50.41px 98px 0px #3736640a;

  box-shadow: 105.45px 50.41px 78.04px 0px #3736640d;
}
.place-image {
  margin: 15px;
  width: 338.6666564941406px;
  height: 248px;
}
.card-content {
  width: 338.6666564941406px;
  height: 76px;
  margin: 0 auto;

  .card-title {
    width: 330.6666564941406px;
    height: 36px;
    font-family: Urbanist;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }
  .card-description {
    width: 298.6666564941406px;
    height: 32px;
    font-family: Urbanist;

    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
  }
  .card-location {
    width: 24px;
    height: 24px;
    margin-right: 7px;
  }
}
