.documentation {
  width: 1200px;
  margin: 0 auto;
}
.doc-title {
  width: 680px;

  margin: 0 auto;
  border-width: 0.2px;
  font-family: Gilda Display;
  font-weight: 400;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: center;
  color: #262626;
  margin-top: 100px;
}
.video {
  margin-top: 55px;
  width: 1200px;
  .video-img {
    width: 1200px;
    height: 540px;
  }
}
