body {
  font-family: "Gilda Display";
  margin: 0 auto;
}
header {
  display: block;
  height: 1070px;
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  height: 33px;
  width: 90%;
  margin: 0 auto;
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}
.nav-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 2.34px;
  color: #25a59e;
}
.nav-burger-icon {
  height: 23px;
  width: 23px;
}
.header-content {
  width: 1200px;
  margin: 0 auto;
}
.content-container {
  max-width: 1200px;
  height: 1037px;
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
}
.hero-title {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  font-weight: 400;
  font-size: 10.625rem;
  line-height: 170px;
  margin-top: 14%;
}
.color {
  color: #25a59e;
}

.circle-border {
  height: auto;
  width: 1005px;
  border-radius: 50%;
  border: 3px solid #ee8f39;
  margin: 0 auto;
  aspect-ratio: 1/1;
  margin-top: 84px;
}
.centered-axis-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.circle {
  aspect-ratio: 1/1;
  position: absolute;
  height: auto;
  width: 925px;
  border-radius: 50%;
  background-color: #ee8f39;
  margin: 0 auto;
  top: calc(36px);
  box-shadow: 0px 0px 239px 0 #25a59e;
}
.blog-photo {
  bottom: 160px;
  position: absolute;
  aspect-ratio: 611 / 408;
  width: 53%;
}
.content-box {
  position: absolute;
  bottom: 0;
  height: 16%;
  width: 90%;
  background-color: #25a59e;
  color: white;
  .content-box-content {
    width: 90%;
    display: inline-flex;
    padding: 50px 60px;
    justify-content: space-between;
    .content-box-text {
      display: inline-block;
      width: 365.5px;
      font-family: Urbanist;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0%;
    }
    .line {
      display: inline-block;
      height: 63px;
      width: 0px;
      border: 1px solid white;
    }
    .content-box-text-second {
      display: inline-block;
      width: 221px;
      height: 80px;
      border-width: 0.2px;
      font-family: Gilda Display;
      font-weight: 400;
      font-size: 28px;
      line-height: 40px;
      letter-spacing: 0%;
      text-align: center;
    }
  }
}
@media only screen and (max-width: 500px) {
  header {
    max-width: 375px;
    height: 704px;
  }
  nav {
    height: 60px;
  }
  .nav-title {
    font-size: 16px;
    font-weight: bold;
  }
  .nav-burger-icon {
    height: 23px;
    width: 23px;
  }
  .header-content {
    width: 375px;
  }
  .content-container {
    max-width: 375px;
    height: 700px;
  }
  .hero-title {
    font-size: 3.25rem;
    line-height: 100%;
    margin-top: 20%;
  }
  .circle-border {
    width: 605px;
    height: 605px;
    margin-top: 0px;
  }
  .circle {
    width: 525px;
    height: 525px;
    box-shadow: 0px 0px 160px 0 #25a59e;
  }
  .blog-photo {
    bottom: 245px;

    width: 432.6px;
  }
  .content-box {
    height: 35%;
    width: 100%;
    .content-box-content {
      padding: 0;
      display: block;
      padding: 21px 18px;
      line-height: 38px;
      justify-content: center;
      .content-box-text {
        display: block;
        width: 335px;
        font-size: 16px;
        text-align: center;
        height: 48px;
        line-height: 24px;
      }
      .line {
        height: 0px;
        width: 100%;
        border: 0.5px solid white;
      }
      .content-box-text-second {
        display: block;
        width: 335px;
        height: 32px;
        font-size: 20px;
      }
    }
  }
}
