.memorable {
  width: 1440px;
  height: 685px;
  margin: 0 auto;

  .content-group {
    display: inline-block;
    width: 534px;
    height: 394px;
    margin: 133px 39px 133px 133px;
  }
  .mem-text-box {
    display: inline-block;
    width: 534px;
    height: 292px;
    .mem-hero {
      width: 534px;
      height: 168px;
      border-width: 0.2px;
      font-family: Gilda Display;
      font-weight: 400;
      font-size: 72px;
      line-height: 84px;
      letter-spacing: 0%;
    }
    .mem-description {
      margin-top: 28px;
      width: 534px;
      height: 96px;
      font-family: Urbanist;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0%;
    }
  }
  .mem-botton {
    margin-top: 48px;
    width: 288px;
    height: 54px;

    gap: 32px;
    .option {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: #25a59e;
      width: 141px;
      height: 54px;
      .option-text {
        width: 77px;
        height: 22px;
        color: white;
        font-family: Urbanist;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
      }
    }
    .mem-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      width: 141px;
      height: 54px;
      .button-text {
        text-decoration: underline;
        width: 115px;
        height: 22px;
        color: #333333cc;
        font-family: Urbanist;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: right;
      }
    }
  }
  .memory-image {
    position: absolute;
    display: inline-block;
    width: 640px;
    height: 485px;
    margin: 100px 100px 100px 0;
    .shape {
      width: 542px;
      height: 239px;
      top: 246px;
      left: 86px;
      opacity: 0.7;
      position: absolute;
    }
    .trip-image {
      position: absolute;
      width: 658px;
      height: 485px;
    }
  }
}
